{% extends 'osat/base.html' %}
{% block about %}
<div id="div3">
<h1 style="color:#d2d2d2;">About</h1>
<p style="color:#7d7d7d; font-size:16px;">OSAT who are we?

Whether you graduated two years ago or two decades ago, we know you want to keep tabs on your friends and contemporaries. As alumni of Toc-H Public School, you are part of a global network of creators and change makers bound together by our shared connection and our collective passion. OSAT (Old Students Association of Toc-H Public School) maintains & enhances a highly spirited, dynamic community of alumni worldwide. By fostering remembrances of the school and enabling the renewing of acquaintances and friendships, we provide fulfilling social outlets and opportunities for giving back.



In addition to the social enjoyment that meeting up with old friends can bring, we also tap into the vast network of knowledge and experience of our alumni for the benefit of current and future Toc-H students as they move on. From university advice and internships to volunteer assignments and career openings, we believe that you -our alumni- have a lot to offer! We have had a great response from alumni willing to help us move things forward and we are looking forward to working with those people in the coming months and years.



The Governing Council at OSAT is responsible for a number of activities which promote the alumni. These include a continuous effort to locate alumni; maintaining a database of alumni, staff and friends; planning reunions and special events; maintaining an alumni website amongst others.



Since the Association’s launch, it has seen a number of official reunions and an ever growing following on social media where great memories are shared and old friends are reunited. This is your chance to reflect & reconnect.Traditionally, we meet for a reunion late in December. Stay connected to your alma mater even if you are halfway around the world.



The Toc-H experience truly goes beyond your time on campus!
</p>
</div>
{% endblock %}