{% extends 'osat/base.html' %}
{% load staticfiles %}

{% block body2 %}
    {% if suc == 1 %}
      <div class="btn"><a href="{% url 'osat:admin2notification' %}">Add a notification</a></div>
    {% endif %}
</div>
{% endblock %}


{% block body %}
{% if suc == 0 %}
<form method="post"> {% csrf_token %}
        <div class="rform" id="reg2">
    <label >Login id</label>
        {{ ec_login_form.email }}
	<label >password</label>
        {{ ec_login_form.password }}
        <div class="pbutton" id="reg3">
        <input type="submit" class="btn btn-primary">
        </div>
        </div>
    </form>
{% else %}
<h style="color:white;">Total no of alumni's registered:<span class="badge">{{ sum_of_alumni }}</span></h>
<p style="color:white;">Total no of alumni's attending:<span class="badge">{{ sum_of_attending }}</span></p>

<hr>
<div class="btn" data-toggle="collapse" data-target="#demo">Registered Teachers</div>
<br>
<br>
<div id="demo" class="collapse">
   <div class="container" style="width:900px;">
  <table class="table">
    <thead>
      <tr>
        <th style="color:white;">Name</th>
        <th style="color:white;">Last name</th>
        <th style="color:white;">subject</th>
        <th style="color:white;">phone no:</th>
        <th style="color:white;">E-mail</th>
        <th style="color:white;">year joined</th>
        <th style="color:white;">year resigned</th>
      </tr>
    </thead>
    <tbody>
    {% for i in j %}
      <tr>
        <td style="color:white;">{{ i.fname }}</td>
        <td style="color:white;">{{ i.lname }}</td>
        <td style="color:white;">{{ i.subject }}</td>
        <td style="color:white;">{{ i.ph_no }}</td>
        <td style="color:white;">{{ i.e_mail }}</td>
        <td style="color:white;">{{ i.yearin }}</td>
        <td style="color:white;">{{ i.yearout }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</div>

<div class="btn" data-toggle="collapse" data-target="#demo1">Registered students</div>
<br>
<br>
<div id="demo1" class="collapse">
   <div class="container" style="width:900px;">
  <table class="table">
    <thead>
      <tr>
        <th style="color:white;">Name</th>
        <th style="color:white;">Last name</th>
        <th style="color:white;">Email</th>
        <th style="color:white;">Phone no:</th>
        <th style="color:white;">Year of passout</th>
      </tr>
    </thead>
    <tbody>
    {% for i in a %}
      <tr>
        <td style="color:white;">{{ i.fname }}</td>
        <td style="color:white;">{{ i.lname }}</td>
        <td style="color:white;">{{ i.email }}</td>
        <td style="color:white;">{{ i.phno }}</td>
        <td style="color:white;">{{ i.year_pass }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
<div class="btn" data-toggle="collapse" data-target="#message">Messages</div>
<br>
<br>
<div id="message" class="collapse">
   <div class="container" style="width:900px;">
  <table class="table">
    <thead>
      <tr>
        <th style="color:white;">Name</th>
        <th style="color:white;">email</th>
        <th style="color:white;">message</th>
      </tr>
    </thead>
    <tbody>
    {% for j in m %}
      <tr>
        <td style="color:white;">{{ j.name }}</td>
        <td style="color:white;">{{ j.email }}</td>
        <td style="color:white;">{{ j.message }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endif %}

{% endblock %}
