{% extends 'osat/base.html' %}
{% load staticfiles %}
{% block c_us %}
class="active"
{% endblock %}
{% block body %}
{% if v == 1 %}
    <p style="color:green">Your message has been sent successfully </p>
    <hr>
{% endif %}
<div class="col-md-6 col-sd-6">
<h1 style="color:white;text-decoration: underline;">President</h1>
<h1 style="color:white;">Nishant Tharakan</h1>
<p style="color:white;">Phone no: +91 94470 28300</p>
</div>

<div class="col-md-6 col-sd-6">
<h1 style="color:white;text-decoration: underline;">Secretary</h1>
<h1 style="color:white;">Rohit Das</h1>
<p style="color:white;">Phone no: +91 98473 33159</p>
</div>

<div class="col-md-6 col-sd-6">
<h1 style="color:white;text-decoration: underline;">Jt. Secretary</h1>
<h1 style="color:white;">Ramesh Nandakumar</h1>
<p style="color:white;">Phone no: +91 96058 46361</p>
</div>

<div class="col-md-6 col-sd-6">
<h1 style="color:white;text-decoration: underline;">Treasurer</h1>
<h1 style="color:white;">Arun Vidyasagar</h1>
<p style="color:white;">Phone no: +91 98951 82395</p>
</div>
{% endblock %}
{% block body2 %}
    <div col-md-4>
        <p>LEAVE A MESSAGE</p>
           <form method="post"> {% csrf_token %}
        <div class="rform" id="reg2" style="width:100%;">
    <label >Name:</label>
        {{ form.name }}
	<label >E-mail</label>
        {{ form.email }}
	<label >Message</label>
        {{ form.message }}
            <br>
        <div class="button" id="reg3" style="text-align:center">
        <input type="submit" class="btn btn-primary" name="a_registration">
        </div>
        </div>
    </form>
        <p> </p>
        <br>
        <button class="btn btn-primary" ><a href="{% url 'osat:admin2' %}" style="color:white;text-align:right;">Admin page</a></div></button>
{% endblock %}