{% extends 'osat/base.html' %}
{% load static %}
{% load mathfilters %}
{% block body3 %}
<p>
    Kurian Thomas Pulimoottil<br>kuriant719@gmail.com <br>
                               +91 7736659505
                                <br>
                                <br>
    Augustine Tharakan        <br>augustinetharakan12@gmail.com <br>
                               +91 9567945420
                               <br>
                               <br>
    Adarsh P Menon           <br>adarsh1021@gmail.com <br>
                               +91 9446369043


</p>
{%endblock%}