{% extends 'osat/base.html' %}
{% load static %}
{% load mathfilters %}
{% block body3 %}
<h1 style="color:white">CHASING INFINITY</h1>
<br>
<br>
<div class="col-md-4 col-sd-4">
    <p>Kurian Thomas Pulimoottil hacktober fest desperate t shirt kittanam<br>kuriant719@gmail.com <br>
                               +91 7736659505
                                <br>
                                <br>
    </p>
    </div>
    <div class="col-md-4 col-sd-4">
        <p>
    Augustine Tharakan        <br>augustinetharakan12@gmail.com <br>
                               +91 9567945420
                               <br>
                               <br>
        </p>
    </div>
    <div class="col-md-4 col-sd-4">
        <p>
    Adarsh P Menon           <br>adarsh1021@gmail.com <br>
                               +91 9446369043
        </p>
    </div>
{%endblock%}