{% extends 'osat/base.html' %}
{% block donations %}
class="active"
{% endblock %}
{% block body %}
{% if suc == 0 %}
<br>
<p style="text-align:center;">Cheque/DD to be drawn in favour of : Old Students Association of TocH (OSAT)
<br>
Bank Details: South Indian Bank
<br>
Toc-H Ernakulam Branch
<br>
Janatha Road, Vytilla,
<br>
Kochi – 682019
<br>
Account No:0417053000003677
<br>
IFSC Code:SIBL0000417</p>
<br>
<hr>
<br>
<h1 style="color:white">Make donations online</h1>
<form method="post"> {% csrf_token %}
        <div class="rform" id="reg2" style="width:100%;">
    <label >Email:</label>
        {{ view_events_form.email }}
            <br>
        <div  class="button" name="a_registration" id="reg3" style="text-align:center">
        <input type="submit" class="btn btn-primary" name="a_registration">
        </div>
        </div>
    </form>
{% else %}
<h1 style="color:white;text-align:center">How much would you like to donate {{ name }}?</h1>
<div class="col-md-4 col-sd-4" style="text-align:center;">
    <br>
    <a href="https://imjo.in/78dPT5"><div class="btn btn-primary" class="btn" >Rs.1,000/-</div></a>
</div>
<div class="col-md-4 col-sd-4" style="text-align:center;">
    <br>
    <a href="https://imjo.in/va8eFf"><div class="btn btn-primary">Rs.2,000/-</div></a>
</div>
<div class="col-md-4 col-sd-4" style="text-align:center;">
    <br>
    <a href="https://imjo.in/rX9SEe"><div class="btn btn-primary">Rs.5,000/-</div></a>
</div>
<div class="col-md-6 col-sd-6" style="text-align:center;">
    <br>
    <br>
    <a href="https://imjo.in/y5JQbu"><div class="btn btn-primary">Rs.10,000/-</div></a>
</div>
<div class="col-md-6 col-sd-6" style="text-align:center;">
    <br>
    <br>
    <a href="https://imjo.in/nKBsHz"><div class="btn btn-primary">Rs.25,000/-</div></a>
</div>
{% endif %}
{% endblock %}
{% block body2 %}
<div class="col-md-2 col-sd-2" ></div>
<br>
<h1 style="font-size:25px;color:white">People who donated</h1>
<div class="scroll" >
    <ol>
        <li>Mr. Mohan Mathew</li>
        <li>Mr. Rahul Das K</li>
        <li>Mr. Akshay Agarwal</li>
        <li>Mr. Joseph Simon</li>
        <li>Mrs. Jovie Katticaran,<br>Ms. Julu Katticaran, <br>Mr. Joel Katticaran</li>
        <li>Mrs. Sonella Joy</li>
    </ol>
</div>

{% endblock %}