{% extends 'osat/base.html' %}
{% block donations %}
class="active"
{% endblock %}
{% block body %}
<br>
<p style="text-align:center;">Cheque/DD to be drawn in favour of : Old Students Association of TocH (OSAT)
<br>
Bank Details: South Indian Bank
<br>
Toc-H Ernakulam Branch
<br>
Janatha Road, Vytilla,
<br>
Kochi – 682019
<br>
Account No:0417053000003677
<br>
IFSC Code:SIBL0000417</p>
<br>
<hr>
<br>
<div class="col-md-4 col-sd-4" style="text-align:center;">
    <br>
    <a href="https://imjo.in/78dPT5"><div class="btn btn-primary" class="btn" >Rs.1,000/-</div></a>
</div>
<div class="col-md-4 col-sd-4" style="text-align:center;">
    <br>
    <a href="https://imjo.in/rX9SEe"><div class="btn btn-primary">Rs.5,000/-</div></a>
</div>
<div class="col-md-4 col-sd-4" style="text-align:center;">
    <br>
    <a href="https://imjo.in/va8eFf"><div class="btn btn-primary">Rs.2,000/-</div></a>
</div>
<div class="col-md-6 col-sd-6" style="text-align:center;">
    <br>
    <br>
    <a href="https://imjo.in/y5JQbu"><div class="btn btn-primary">Rs.10,000/-</div></a>
</div>
<div class="col-md-6 col-sd-6" style="text-align:center;">
    <br>
    <br>
    <a href="https://imjo.in/nKBsHz"><div class="btn btn-primary">Rs.25,000/-</div></a>
</div>

{% endblock %}
{% block body2 %}
<div class="col-md-2 col-sd-2" ></div>
<br>
<h1 style="font-size:25px;color:white">People who donated</h1>
<div class="scroll" >
    <ol>
        <li>Mr. Akshay Agarwal</li>
        <li>Mr. Joseph Simon</li>
        <li>Mrs. Jovie Katticaran,<br>Ms. Julu Katticaran, <br>Mr. Joel Katticaran</li>
    </ol>
</div>

{% endblock %}