{% extends 'osat/base.html' %}
{% load staticfiles %}
{% block e_registration %}
class="active"
{% endblock %}
{% block e_reg %}
<div id="e_text">
<h1 style="text-align:center;color:white;">INSTRUCTIONS FOR EVENT HANDLING AND REGISTRATION</h1>
<p style="text-align:center;color:#7d7d7d;">Events can be added by any alumnus/alumna.The user which adds an event will be the event head and will have to co-ordinate the event.Details of interested alumni will be added to  the login page for event heads.
</p>
</div>
<div id="outer" class="e_div">

    <div style="text-align:center;">
    <button type="button" class="btn" style><a href="{% url 'osat:ec_registration' %}" style="text-decoration:none;">Create an event</a></button>
    <button type="button" class="btn"><a href="{% url 'osat:er_registration' %}"style="text-decoration:none;">Register for an event</a></button>
    <button type="button" class="btn"><a href="{% url 'osat:el_registration' %}"style="text-decoration:none;">Log in</a></button>
        </div>
    <br>
    <div style="text-align:center;">
    <button type="button" class="btn" ><a href="{% url 'osat:el_registration3' %}"style="text-decoration:none;">View registered events</a></button>
    </div>

</div>
{% endblock %}