{% extends 'osat/ec_registration.html' %}
{% block passmatch %}
    {% if pass1 == 1 %}
        <p style="display:inline;color:red;">- Passwords don't match</p>
    {% endif %}
{% endblock %}
{% block eventmatch %}
    {% if event1 == 1 %}
        <p style="display:inline;color:red;">- Event already exists</p>
    {% endif %}
{% endblock %}
{% block emailmatch %}
    {% if email1 == 1 %}
        <p style="display:inline;color:red;">- Please register as an alumni</p>
    {% endif %}
{% endblock %}