{% extends 'osat/base.html' %}
{% load staticfiles %}
{% block body %}
{% if suc == 0 %}
    <form method="post"> {% csrf_token %}
        <div class="rform" id="reg2" style="width:120%;">
    <label >E-mail{% if pass1 == 1 %}<p style="display:inline;color:red;">- E-mail or password incorrect</p>{% endif %}</label>
        {{ ec_login_form.email }}
	<label >Password</label>
        {{ ec_login_form.password }}
        <div class="pbutton" id="reg3">
        <input type="submit" class="btn btn-primary">
        </div>
        </div>
    </form>
{% elif suc == 1 %}
<h1>Login success</h1>
        <h2>event- {% for i in event %}{{ i }}{% endfor %}</h2>
    <div class="container" style="width:700px;">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    {% for i in obj2 %}
    {% for j in obj1 %}
    {% if i.email == j.email and i.event in event %}
      <tr>
        <td>{{ j.fname }}</td>
        <td>{{ j.phno }}</td>
        <td>{{ j.email }}</td>
      </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </tbody>
  </table>
</div>


{% endif %}
{% endblock %}