{% extends 'osat/base.html' %}

{% block body %}
{% if suc == 0 %}
<p style="color:white;">Give your email id</p>
<form method="post" > {% csrf_token %}
        <div class="rform" id="reg2" style="width:120%;">
    <label >email{% if email1 == 1%}
    <p style="display:inline;color:green;">- You have not registered for any event</p>
        {% endif %}
    </label>

        {{ alumnievent_form.email }}
        <div class="pbutton" id="reg3">
        <input type="submit" class="btn btn-primary">
        </div>
        </div>
    </form>
{% else %}
<h style="font-size:30px;">Thank you for your response</h>
{% endif %}
{% endblock %}