{% extends 'osat/base.html' %}
{% load staticfiles %}
{% block h_registration %}
class="active"
{% endblock %}
{% block body %}

{% if suc == 0 %}
<div id="reg1" >
    <form method="post"> {% csrf_token %}
        <div class="rform" id="reg2" >
    <label >E-mail{% if email1 == 1 %}<p style="display:inline;color:red;">- please register as an alumni first</p>{% elif email1 == 2 %}<p style="display:inline;color:red;">- please pay the alumni registration fee first(it will take 1 or 2 days for payment to be processed)</p>{% endif %}</label>
        {{ no_attending_form.email }}
	<label >Number of members attending(including yourself){% if noattend == 1 %}<p style="display:inline;color:red;">- 7 is the max</p>{% endif %}</label>
        {{ no_attending_form.no_attending }}
            <br>
        <div class="button" id="reg3" >
        <input type="submit" class="btn btn-primary">
        </div>
        </div>
    </form>
</div>
<br>
{% else %}
<h style="color:white;" >Total cost : Rs {{ cost }}/- </h>
<a
        {% if cost == 300 %}
            href="https://imjo.in/zAk9WZ"
        {% elif cost == 600 %}
            href="https://imjo.in/2xFGjY"
        {% elif cost == 900 %}
            href="https://imjo.in/fWUbH9"
        {% elif cost == 1200 %}
            href="https://imjo.in/tefXRy"
        {% elif cost == 1500 %}
            href="https://imjo.in/aSSxF8"
        {% elif cost == 1800 %}
            href="https://imjo.in/vAQ6E2"
        {% elif cost == 2100 %}
            href="https://imjo.in/4WraA5"
        {% elif cost == 2400 %}
            href="https://imjo.in/ykQtqh"
        {% else %}
            href="#"
        {% endif %}
><div class="btn btn-primary">Pay Now</div></a>
{% endif %}
{% endblock %}

