{% extends 'osat/base.html' %}
{% block body3 %}
{% if suc == 0 %}
<form method="post"> {% csrf_token %}
        <div class="rform" id="reg2">
    <label >Login id</label>
        {{ ec_login_form.email }}
	<label >password</label>
        {{ ec_login_form.password }}
        <div class="pbutton" id="reg3">
        <input type="submit" name="adminlogin" class="btn btn-primary">
        </div>
        </div>
    </form>
{% else %}
<h1 style="color:white;text-align:center">OFFLINE REGISTRATION</h1>
<br>
<div class="col-md-6 col-sd-6">
<h1>Alumni registration</h1>
    <br>
    <br>
    <form method="post"> {% csrf_token %}
        <div class="rform" id="reg2" style="width:100%;">
    <label >Email:</label>
        {{ off_reg.email }}
            <br>
        <div  class="button" name="alumni_registration" id="reg3" style="text-align:center">
        <input type="submit" class="btn btn-primary" name="alumni_registration">
        </div>
        </div>
    </form>
</div>
<div class="col-md-6 col-sd-6">
<h1>Tickets</h1>
    <br>
    <br>
    <form method="post"> {% csrf_token %}
        <div class="rform" id="reg2" style="width:100%;">
    <label >Email:</label>
        {{ offline_tickets_form.email }}
    <label >No of people :</label>
        {{ offline_tickets_form.no_attending }}
            <br>
        <div  class="button" name="offline_ticket" id="reg3" style="text-align:center">
        <input type="submit" class="btn btn-primary" name="offline_ticket">
        </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}