{% extends 'osat/base.html' %}
{% block payments %}
class="active"
{% endblock %}
{% block about %}
{% if submit == 1 %}
    <p style="color:green">Thankyou for registering {{ name.fname }}, you can now proceed with the payments </p>
    <hr>
{% endif %}
<div class="col-md-3 col-sd-3">
    <p>Registration fee Rs 500/-</p>
    <br>
    <br>
    <br>
<a href="https://imjo.in/hdgDAb"><div class="btn btn-primary">Alumni registration</div></a>
</div>
<div class="col-md-6 col-sd-6">
        <p>Rs.600/- for registered member.
           We look forward to meet your family.
            <br>
            Rs.300/- each for non alumni family members (children below 5 years of age are not charged) </p>
    <a href="{% url 'osat:h_registration' %}"><div class="btn btn-primary">Homecoming registration</div></a>
</div>
{% endblock %}