{% extends 'osat/base.html' %}
{% block payments %}
class="active"
{% endblock %}
{% block about %}
{% if submit == 1 %}
    <p style="color:green">Thankyou for registering {{ name.fname }}, you can now proceed with the payments </p>
    <hr>
{% endif %}
<div class="col-md-3 col-sd-3" style="border-style:groove;border-color:#0C0F17" >
    <br>
    <p>Registration fee Rs 500/-</p>
    <br>
    <br>
    <br>
<a href="https://imjo.in/hdgDAb"><div class="btn btn-primary">Alumni registration</div></a>
    <br>
    <br>

</div>
<div class="col-md-1 col-sd-1" ></div>
<div class="col-md-6 col-sd-6" style="border-style:groove;border-color:#0C0F17">
    <br>
        <p>Come, "dine in with your friends " at Homecoming '17 for Rs.300/- per person
            <br>
            We look forward to see your family too.. (children below 5 years of age are not charged) </p>
    <a href="{% url 'osat:h_registration' %}"><div class="btn btn-primary">Homecoming '17 <br>dinner coupons</div></a>
    <br>
    <br>
</div>
{% endblock %}