{% extends 'osat/base.html' %}
{% block a_registration %}
class="active"
{% endblock %}
{% block body %}
{% if reg_e == 2 %}<div style="display:inline;color:red">Please register as an alumni before paying for homecoming dinner coupons.</div>{% elif reg_e == 3 %}<div style="display:inline;color:red">You have paid the registration fees, but you haven't given your details, please fill up the students registration form and then pay for the homecoming dinner coupons.</div>{% elif reg_e == 4 %}<div style="display:inline;color:red">Please register as an alumni before donating, thankyou</div>{% endif %}
<h1 style="color:white">Below is the process to be followed:</h1>
<br>
<p>
1. You can Fill in your Name & details here.
<br>
Registration for Teachers is complete here.
<br>
But, Alumni has to do the next step for Registration to be valid.
<br>
<br>
2. For Alumni Registration payment, Please go to payments tab and pay Rs. 500 for your registration to be valid.
<br>
<br>
3. After the payment for Alumni Registration is done, you can now pay for Homecoming '17 tickets by going to payments tab and selecting "Homecoming '17 dinner coupons" button. Here u can enter the mail id used for Alumni Registration and enter the number of people coming for the event including yourself. It is Rs.300/person for Dinner with Friends.</p>
<br>
<div class="col-md-5 col-sd-5">
    <br>
    <a href="{% url 'osat:a_registration' %}"><div class="btn btn-primary">students registration</div></a>
</div>
<div class="col-md-5 col-sd-5">
    <br>
    <a href="{% url 'osat:t_registration' %}"><div class="btn btn-primary">Teachers registration</div></a>
</div>
{% endblock %}
{% block body2 %}
<br>
<p>Donations are greatly appreciated.</p>
<a href="{% url 'osat:donations' %}"><div class="btn btn-primary">Donate</div></a>
{% endblock %}