{% extends 'osat/base.html' %}
{% block a_registration %}
class="active"
{% endblock %}
{% block body %}
<div id="reg1">
<h1 style="color:#d6d6d6;text-align:center;">Teachers registration</h1>
    <form method="post"> {% csrf_token %}
        <div class="rform" id="reg2" style="width:100%;">
    <label >First Name:</label>
        {{ t_registrationform.fname }}
	<label >Last Name:</label>
        {{ t_registrationform.lname }}
	<label >Subject</label>
        {{ t_registrationform.subject }}
    <label >Year joined in Toc H</label>
        {{ t_registrationform.yearin }}
    <label >Year resigned from Toc H(if not resigned leave it blank)</label>
        {{ t_registrationform.yearout }}
            <br>
        <div class="button" name="a_registration" id="reg3" style="text-align:center">
        <input type="submit" class="btn btn-primary" >
        </div>
        </div>
    </form>
  </div>
{% endblock %}