{% extends 'osat/base.html' %}
{% block a_registration %}
class="active"
{% endblock %}
{% block about %}
{% for i in teacher_details %}
<form method="post"> {% csrf_token %}
        <div class="rform" id="reg2" style="width:100%;">
    <label >How many including you will attend</label>
        {{ form.no_attending }}
            <br>
        <div  class="button" name="a_registration" id="reg3" style="text-align:center">
        <input type="submit" class="btn btn-primary" name="a_registration">
        </div>
        </div>
</form>
{% endfor %}
{% endblock %}