
.w3-teal, .w3-hover-teal:hover{
background-color:#222222d6!important;
}
.th{
    color:white;
}
.td{
    color:white;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 15px;

  width:16%;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #8e0000;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

{% load staticfiles %}

.icon-ar > a {
    font-size:25px;
    padding:0px 15px;
    margin: 0 auto;

}

.icon-ar{

border-left: 3px solid #8e0000;
padding:12px 0px;
margin:0 auto;

}
.e_div{

 margin-top:30px;

}
#responsive {
    display: inline-block;
    position: relative;
    width: 100%;
    background-size: contain;
}

#dummy {
    padding-top: 29%;
}
.inner2{
display:inline-block;
}

.inner1{
display:inline-block;
}


.inner3{
display:inline-block;
}

/*.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}
*/
/*.icon-bar > a:hover {
    color:white;
}
*/

/*.notif{

padding-right:20px;
}
.notif:hover{
 color:green;
}
*/
.fa {
  padding: 2px;
  /*width: 40px;
  height: 40px;*/
  text-align: center;
  text-decoration: none;

}

.fa-facebook {
  color: #3B5998;

}
.fa-facebook:hover{
color:#006aff;

}
.fa-whatsapp {
  color: green;

}

.fa-whatsapp:hover {
  color: #21d811;

}

.fa-instagram {

  color: #c41176;
}

.fa-instagram:hover {
  color:#ff00ee;

}

.fa-youtube {

  color: #c61b1b;
}

.fa-youtube:hover {
  color:#ff0000;

}

.modal-backdrop
{
    opacity:1 !important;
}

.modal.fade:not(.in).right .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}

.svg-logo{
display: block;
    font: 30.5em 'Montserrat';
    width: 500px;
    height: 200px;
    margin:0 auto;
    position:relative;
    margin-top:170px;
    }

.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  /*z-index: -1;*/
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}


/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.navbar-brand {
    left: 0px;
}

.banner{
color:white;
font-size:20px;
}
html, body{
    margin:0;
  height: 100%;
  font-weight:900;
}

body {
	width: 100%;

	color: #fff;
	background: linear-gradient(-45deg, #282828,#000000,#000000,#191818,#000000,#000000,#000000);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	margin: 0 auto;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.svg-main-logo {
    display: block;
    font: 30.5em 'Montserrat';
    width: 500px;
    height: 200px;
    margin:0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
input[type=submit]{
background-color:#8e0000;
border:black;
color:white;
text-align:center;
text-decoration:none;
display:inline_block;
font-size:20;
margin-left:60px;


}

.rform{
color:white;

}


 hr{
     border-top-color: #f2b746;
 }
/*a.noti:hover
{
background-color:white;
}*/
@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: bold;

}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.btn{
background-color:#8e0000;
border:black;
color:white;
text-align:center;
text-decoration:none;
display:inline_block;
font-size:20;


}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}
rform{
    width:10%;
}